/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'blacklight/blacklight';
@import 'blacklight_marc';

/*
  Header bar at top (Bootstrap nav-bar)
*/

$logo_image: 'logo.png';
$hero_image: 'bb_card.png';

.blacklight-sound-recording {
    font-family: 'Raleway', sans-serif;
    h1 {
        text-align: right;
        font-size: 1.5em;
    }
}

#header-navbar {
    height: 150px;
    .navbar-brand {
        /* The main logo image for the Blacklight instance */
        width: 70px;
        height: 70px;
        background: transparent image_url($logo_image) no-repeat top left;
        background-size: contain;
        display: inline-block;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        padding-right: 0;
        margin-right: 20px;
        padding-left: 0;
    }
}

#search-navbar {
    z-index: 1;
    .input-group {
        width: 100%;
    }
    .input-group-addon {
        &.for-search-field {
            background-color: $input-bg;
            border-radius: $border-radius-base 0 0 $border-radius-base;
            width: 15ch;
        }
    }
    .search_field {
        background: transparent;
        border: none;
    }
    .search-query-form {
    	width:100%;
    }
    .submit-search-text {
        // hide 'search' label at very small screens
        @media screen and (max-width: $screen-xs-min) {
            // copied from .sr-only, sadly can't seem to use @extend in a media
            // query like this, have to copy. 
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            padding: 0;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
        }
    }
}

.search-row {
	padding-bottom:50px;
	margin-bottom:35px;
}

section.header-group {
       background: #FFFFFF image_url($hero_image) no-repeat top left;
       background-size: cover;       
}