<div class="page-header row">
  <h2 class="col-md-8 page-heading"><%= t('blacklight.welcome') %></h2>
</div>

<div class="row">
	<p>Blacklight allows you to search the ITMA catalogs.</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, nobis laborum similique sunt voluptates odio quibusdam officiis quae, iste facilis cupiditate autem est iure cumque aut officia architecto saepe corporis.</p>
</div>

